{% extends 'textmeh/base.html' %}

{% load static %}

{% block title %}
  TextMeh | Sign In
{% endblock %}

{% block content %}
	<div class="login-container">
		<img src="{% static 'images/textmeh-logo.png' %}">
	<div id="sign-up-instructions" class="instructions">
		Sign In
	</div>

	{% if form.errors %}
		<div class="login-error">
			The username or password you entered was incorrect.
		</div>
	{% endif %}

		<form method="post" action="">
		  {% csrf_token %}

		  <input id="username" onblur="nameFilled()" maxlength="25" class="login-box smooth" type="text" name="username" placeholder="First Name">
		  <input id="pw" onblur="pwFilled()" class="login-box smooth" type="password" name="password" placeholder="Password">

		  <div type="submit" value="submit" class="login-button-container">
		    <input class="smooth" type="image" src="{% static 'images/login-button.png' %}" value="submit">
		  </div>

		</form>

		<div id="sign-up-option-container">
			<a href="{% url 'registration' %}">
				Don't have an account? 
				<div id="sign-up-option" class="choose-convo-logout-container smooth">
					Sign up here!
				</div>
			</a>
		</div>
	</div>

	<script>  
	  function nameFilled() {
	    var value = $("#username").val();
	    if ( value.length > 0 && value != "Default text" ) {
	      $("#username").addClass("login-input-filled");
	    }
	    else {
	      $("#username").removeClass("login-input-filled");
	    }
	  }
	</script>

	<script>  
	  function pwFilled() {
	    var value = $("#pw").val();
	    if ( value.length > 0 && value != "Default text" ) {
	      $("#pw").addClass("login-input-filled");
	    }
	    else {
	      $("#pw").removeClass("login-input-filled");
	    }
	  }
	</script>
{% endblock %}


