#offline-message {
	color: #979797;
	text-align: center;
	font-size: 45px;
	margin: 50px;
	margin-top: 150px;
}

#menu-option-container {
	position: fixed;
}

#menu-lang-img {
	display: inline-block;
	vertical-align: middle;
}

#menu-lang-img img {
	width: 75px;
}

#menu-language-container {
	margin: 50px auto;
	text-align: center;
	width: 330px;
	border: 3px solid #4885ed;
	cursor: pointer;
	padding-top: 5px;
}

#menu-language-container:hover {
	border: 3px solid white;
	border-radius: 50px;
}

#menu-language-container label {
	font-weight: normal;
}

#menu-language-container label div {
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-size: 30px;
	padding-left: 20px;
}

#menu-language-container label input {
	position: absolute;
	top: -20px;
}

#menu-convo-container {
	margin: 50px auto;
	text-align: center;
	width: 330px;
	border: 3px solid #4885ed;
	margin-top: 120px;
}

#menu-convo-container:hover {
	border: 3px solid white;
	border-radius: 50px;
}

#menu-logout-container {
	margin: 50px auto;
	text-align: center;
	width: 330px;
	border: 3px solid #4885ed;
}

#menu-logout-container:hover {
	border: 3px solid white;
	border-radius: 50px;
}

hr {
	color: white;
	border-color: white;
	background-color: white;
	height: 3px;
	width: 300px;
}

p {
	margin-bottom: -5px;
}

#menu-logout-img {
	display: inline-block;
	vertical-align: middle;
}

#menu-logout-img img {
	width: 75px;
}

#menu-convo-img img {
	width: 75px;
	float: left;
	/*background-color: blue;*/
	margin-top: 3px;
	margin-left: 25px;
}

#menu-logout-text {
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-size: 30px;
	padding-left: 20px;
}

#menu-convo-text {
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-size: 30px;
	padding-left: -30px;
	text-align: left;
	/*background-color: red;*/
}

#menu {
	background-color: #4885ed;
	/*width: 350px;*/
	width: 0;
	height: 100%; 
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
}

#menu-close-button {
	position: absolute;
	top: 10px;
	right: 15px;
	transform: scale(.85);
}

#menu-close-button:hover {
	transform: scale(1);
}

#menu-button {
	position: absolute;
	margin-left: 15px;
	margin-top: 10px;
	cursor: pointer;
	transform: scale(.85);
}

#menu-button:hover {
	transform: scale(1);
}

#send-area {
	background-color: #979797;
	padding: 10px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
}

textarea {
	border-radius: 15px;
	resize: vertical;
	height: 50px;
	max-height: 130px;
	border: none;
	width: 680px;
	display: inline-block;
	vertical-align: bottom; 
	bottom: 0;
	font-size: 22px;
	letter-spacing: .7px;
	padding: 10px;
	padding-left: 15px;
	outline: none;
	margin-left: 225px;
}

#send-button {
	background-color: #4885ed;
	color: white; 
	border: 3px solid #4885ed;
	display: inline-block;
	vertical-align: bottom;
	font-size: 30px;
	margin-left: 25px;
	margin-right: 50px;
	padding: 0px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: .5px;
	width: 150px;
}

#send-button:hover, #send-button:focus {
	border: 3px solid white;
	outline: none;
	font-style: italic;

}

.message-send-time {
	text-align: center;
	color: #979797;
	/*padding-top: 15px;*/
	/*padding-bottom: -3px;*/
	visibility: hidden;
	/*position: relative;*/
}

.convo-container {
	position: relative;
}

#conversation {
	margin: 0 auto;
	width: 800px;
	padding: 15px;
	max-height: 635px;
	overflow-y: hidden;
	position: relative;
	bottom: 0;
	/*background-color: blue;*/
	display: table;
}

.message-container {
	/*background-color: red;*/
	/*position: relative;*/
	width: 100%;
	display: table-row;
}

.message-from-receiver, .message-from-sender {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: .7px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 5px 10px 5px 15px;
	max-width: 45%;
	display: inline-block;
	/*clear: both;*/
}

.message-from-receiver {
	background-color: lightgray;
	border: 3px solid lightgray;
	color: black;
	float: left;
	margin-right: auto;
	border-radius: 30px 30px 30px 0;
}

.message-from-sender {
	background-color: #4885ed;
	color: white;
	border: 3px solid #4885ed;
	float: right;
	margin-left: auto;
	border-radius: 30px 30px 0 30px;

}

.message-from-other-language-receiver, .message-from-other-language-sender {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: .7px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 5px 10px 5px 15px;
	max-width: 48%;
	display: inline-block;
}

.message-from-other-language-receiver {
	margin-left: -30px;
	z-index: 0;
	background-color: none;
	border: 3px solid lightgray;
	border-left: none;
	color: black;
	float: left;
	padding-left: 40px;
	margin-right: auto;
	border-radius: 0 30px 30px 0;
}

.message-from-other-language-sender {
	background-color: none;
	padding-right: 40px;
	color: #4885ed;
	border: 3px solid #4885ed;
	border-right: none;
	float: right;
	margin-right: -30px;
	margin-left: auto;
	border-radius: 30px 0 0 30px;
}

.instructions {
	text-align: center;
	color: #4885ed;
	font-size: 45px;
}

#choose-convo-instructions {
	padding-top: 55px;
}

#choose-convo-logout {
	color: #4885ed;
	/*background-color: red;*/
	margin: 0 auto;
	width: 100px;
}

#choose-convo-or {
	color: #4885ed;
	margin: 0 auto;
	width: 100px;
	font-size: 30px;
	padding-bottom: 10px;
}

.choose-convo-logout-container {
	margin: 0 auto;
	text-align: center;
	padding-top: -5px;
	margin-bottom: 15px;
	width: 245px;
	border: 3px solid white;
}

.choose-convo-logout-container:hover, .choose-convo-logout-container:focus {
	/*padding: 15px 10px;*/
	border: 3px solid  #4885ed;
	border-radius: 50px;
}

.signup-container {
	margin: 10px auto;
	text-align: center;
	/*padding-top: -5px;*/
	/*margin-bottom: 15px;*/
	width: 245px;
	border: 3px solid white;
}

.signup-container:hover, .signup-container:focus {
	border: 3px solid  #4885ed;
	border-radius: 50px;
}



#choose-convo-logout-img {
	display: inline-block;
	vertical-align: middle;
}

#choose-convo-logout-img img {
	width: 75px;
}

#choose-convo-logout-text {
	display: inline-block;
	vertical-align: middle;
	color: #4885ed;
	font-size: 30px;
	padding-left: 10px;
}

#sign-up-instructions {
	padding-bottom: 25px;
}

#sign-up-option-container {
	font-size: 20px;
	padding-top: 20px;
}

#sign-up-option {
	color: #4885ed;
	font-size: 25px;
	padding: 5px 5px;
}

#language-select select {
	width: 100%;
	-webkit-appearance: none;
	background-image: url("../images/drop-arrow.png");
	background-repeat: no-repeat;
	background-position: right;
	-webkit-border-radius: 0px;
	border: 3px solid #979797;
	display: block;
	margin-bottom: 10px;
	color: #979797;
	font-size: 35px;
	width: 100%;
	/*text-transform: capitalize;*/
	padding-left: 10px;
	background-color: white;
	outline: none;
}

#language-select select:focus, #language-select select:hover {
	border-color: #4885ed;
	/*color: #4885ed;*/
}

#choose-convo-container {
	margin: 0 auto;
	margin-top: 35px;
	/*background-color: red;*/
	width: 600px;
	max-height: 300px;
	overflow: scroll;
	padding: 5px;
	text-align: center;
}

.convo-option {
	border: 3px solid #979797;
	color: #979797;
	font-size: 45px;
	width: 100%;
	font-weight: 300;
	padding-bottom: 5px;
	margin-bottom: 15px;
	background-color: white;
}

#survey-link {
	display: inline-block;
	vertical-align: middle;
	color: #4885ed;
	font-size: 30px;
	/*padding-left: 10px;*/
	padding: 15px 10px;
}

.capitalize {
	text-transform: capitalize;
	display: inline;
}

.convo-option:hover {
	background-color: #3cba54;
	color: white;
	border-color: white;
}

.login-container {
	margin: 30px auto;
	width: 325px;
	text-align: center;
	/*background-color: green;*/
}

.login-box {
	border: 3px solid #979797;
	display: block;
	margin-bottom: 10px;
	color: #979797;
	font-size: 35px;
	width: 100%;
	text-transform: lowercase;
	padding-left: 10px;
}

.login-box:focus, .login-box:hover {
	border: 3px solid #4885ed;
	color: #4885ed;
	outline: none;
}

.login-input-filled {
	border: 3px solid #4885ed;
	color: #4885ed;
	outline: none;
}

.login-button-container {
	border-radius: 50px;
	width: 100px;
	margin: 0 auto;
	padding-top: 15px;
}

.login-button-container input {
	transform: scale(.85);
}

.login-button-container:hover input {
	transform: scale(1);
}


.login-error {
	border: 3px solid #db3236;
	border-radius: 50px;
	color: #db3236;
	font-size: 20px;
	font-weight: 300px;
	padding: 5px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
	/*width: 400px;*/
}

.smooth {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

a:link, a:visited, 
a:active, a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #979797;
}











