{% extends 'textmeh/base.html' %}

{% load static %}

{% block content %}
	
	<span id="menu-button" class="smooth" onclick="showMenu()">
		
		<img src="{% static 'images/menu-icon.png' %}">
	</span>

	<div id="menu" class="smooth">
		<span id="menu-close-button" class="smooth" onclick="closeMenu()">
			<img src="{% static 'images/menu-close-icon.png' %}">
		</span>

		<div id="menu-options-container">
			
		

		<div id="menu-convo-container" class="smooth">
			<a href="{% url 'home_page' %}">
				<div id="menu-convo-img">
					<img src="{% static 'images/TextMeh-logo-white.png' %}">
				</div>
				<div id="menu-convo-text">
					Change <br> Conversation	
				</div>
			</a>
		</div>

		<hr>

		<div id="menu-language-container" class="smooth">
			<label>
				<input type="checkbox" checked="false" name="duo-language" class="translateCheck">
					<span>
						<div id="menu-lang-img">
							<img src="{% static 'images/language-icon-white.png' %}">
						</div>
						<div id="menu-convo-text">
							<p id="toggle-words">Hide Both</p> Languages
						</div>
					</span>
			</label>
		</div>

		<hr>
		
		<div id="menu-logout-container" class="smooth">
			<a href="{% url 'manage_logout' %}?next={% url 'home_page' %}">
				<div id="menu-logout-img">
					<img src="{% static 'images/white-logout-icon.png' %}">
				</div>
				<div id="menu-logout-text">
					Log Out	
				</div>
			</a>
		</div>

		</div>

	</div>

	<div id="chat-area" class="smooth">

		<div id="convo-container">
			<div id="conversation" onload="getMessages()"></div>
		</div>

		<div id="send-area">
			<form method="post" action="">
			{% csrf_token %}
				<textarea id="typing-area" class="smooth autoExpand" name="textarea" placeholder="Type your message..." rows="1" data-min-rows="1"></textarea>
				<button id="send-button" class="smooth" name="send" type="submit">Send</button>
			</form>
		</div>
		
	</div>

<script>
	$(document).ready(function(){
		getMessages();
		goToBottom();
	});

	function getMessages() {
		$.get("messages", function(messages) {
			$("#conversation").html(messages);
			goToBottom();
		}); 
		if( $('.translateCheck').is(':checked')) {
			$(".message-from-other-language-receiver").show();
			$(".message-from-other-language-sender").show();
		} 
		if( $('.translateCheck').is(':unchecked')) {
			$(".message-from-other-language-receiver").hide();
			$(".message-from-other-language-sender").hide();
		}
		setTimeout(getMessages, 500);
	}
</script>

<script>
	function showMenu() {
		document.getElementById("menu").style.width = "400px";
		document.getElementById("chat-area").style.marginLeft = "400px";
		document.getElementById("typing-area").style.marginLeft = "400px";
		document.getElementById("send-button").style.marginRight = "-50px";
	}

	function closeMenu() {
		document.getElementById("menu").style.width = "0px";
		document.getElementById("chat-area").style.marginLeft = "0px";
		document.getElementById("typing-area").style.marginLeft = "225px";
		document.getElementById("send-button").style.marginRight = "50px";
	}

	function showLanguage() {
		document.getElementById("toggle-words").innerHTML = "Show Both";
	}		

	function hideLanguage() {
		document.getElementById("toggle-words").innerHTML = "Hide Both";
	}

	function goToBottom() {
    	var x = document.getElementById("conversation");
    	var h = x.scrollHeight;
        $("div").scrollTop(h);
	}
</script>

<script>
	$('.translateCheck').click(function() {
		if( $(this).is(':checked')) {
			$(".message-from-other-language-receiver").show();
			$(".message-from-other-language-sender").show();
			hideLanguage();
		} else {
			$(".message-from-other-language-receiver").hide();
			$(".message-from-other-language-sender").hide();
			showLanguage();
		}
		closeMenu();
	}); 
</script>


{% endblock %}



