{% extends 'textmeh/base.html' %}

{% load static %}

{% block content %}

	{% if currentusers %}
		<div id="choose-convo-instructions" class="instructions">
			I want to talk with...
		</div>

		<div id="choose-convo-container">
			{% for currentuser in currentusers %}
				<a href="{% url 'home_page' %}chat/{{ currentuser.0 }}">
					<div class="convo-option smooth">
						<p class="capitalize">{{ currentuser.0 }}</p> who speaks {{ currentuser.1 }} 
					</div>
				</a>
			{% endfor %}
		</div>

		<div id="choose-convo-or" class="instructions">
			or
		</div>

	{% else %}
		<div id="offline-message">
			Darn! &ensp; No one is online right now. &ensp; :(
		</div>
	{% endif %}


	<div class="choose-convo-logout-container smooth">
		<a href="{% url 'manage_logout' %}?next={% url 'home_page' %}">
			<div id="choose-convo-logout-img">
				<img src="{% static 'images/logout-icon.png' %}">
			</div>
			<div id="choose-convo-logout-text">
				Log Out	
			</div>
		</a>
	</div>

	<div id="choose-convo-or" class="instructions">
		or
	</div>

	<div class="choose-convo-logout-container smooth" onclick="window.open('https://ufl.qualtrics.com/SE/?SID=SV_0Js36hdGYpC4wbX');">
		<a href="{% url 'manage_logout' %}?next={% url 'home_page' %}">
			<div id="survey-link">
				Take the Survey
			</div>
			<a href="{% url 'manage_logout' %}?next={% url 'home_page' %}"></a>
		</a>
	</div>
	


{% endblock %}