{% extends 'textmeh/base.html' %}

{% load static %}

{% block content %}
		{% for message in chat %}
			<div class="message-container">
				<div class="message-send-time smooth">
					{{ message.time }}  
				</div>
				{% if message.sender.username == request.user.username %} 
					<div class="message message-from-sender">
						{{ message.message }}  
					</div>
				{% else %}
					<div class="message message-from-receiver">
						{{ message.message }}  
					</div>
				{% endif %}
			</div>
		{% endfor %}

{% endblock %}
