{% extends 'textmeh/base.html' %}

{% load static %}

{% block content %}

	{% if chat %}

		{% for message in chat %}
			{% if message.sender.username == request.user.username %} 
				
				<div class="message-container">
					<div class="message-from-sender">
						{{ message.message }}  
					</div>
					<div id="translate-send" class="message-from-other-language-sender smooth">
						{{ message.translation }}  
					</div>
				</div>

			{% else %}

				<div class="message-container">
					<div class="message-from-receiver">
						{{ message.translation }}  
					</div>
					<div id="translate-receive" class="message-from-other-language-receiver smooth">
						{{ message.message }}  
					</div>
				</div>

			{% endif %}
		{% endfor %}

	{% else %} 

		<div id="offline-message">
			Awh! &ensp; : ) <br>It's your first message to <p class="capitalize">{{ username }}</p>! 
		</div>

	{% endif %}


{% endblock %}






